@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

html {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
